.createDeckMenu {
	width: 85vw;
	height: 90vh;
	border: white 2px solid;
	margin: 45px 0 0;
}

.createTitle {
	color: white;
	position: absolute;
	top: 1vh;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	font-family: "My Soul";
	font-size: 2rem;
	letter-spacing: 2px;
}

.cardFormSection {
	position: relative;
	width: 100%;
	height: 65%;
	border-bottom: 1px solid white;
}

.cardDisplaySection {
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.cardFormSection label {
	color: white;
}

.formControl {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}
.formControl label {
	margin: 8px 0;
}

.fileInput {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 3px;
	border: 1px solid white;
	padding: 6px 12px;
	width: 160px;
	height: 30px;
	margin-top: 5px;
	text-align: center;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}

.amountChange,
.statChange {
	color: white;
	display: flex;
}

.amountChange {
	align-items: center;
	position: relative;
	top: 5px;
	left: 6px;
}

.amountChange select,
.spellAmountContainer {
	display: flex;
	margin: 0 20px;
}

.spellTypeLabels label {
	margin: 0 25px;
}

.spellTypeLabels label:nth-of-type(1) {
	position: relative;
	right: 8px;
}

.amountChange span,
.statChange span {
	margin: 0 10px;
	border: white 2px solid;
	border-radius: 3px;
	width: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.amountChange button,
.statChange button {
	width: 20px;
	color: white;
	font-size: 1.7rem;
	background: transparent;
	border: none;
}

.statChange {
	flex-direction: column;
}

.statChange button {
	margin: 0 5px;
}

.statChange div:nth-of-type(1) {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5px;
}

.statChange div:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
}

.createBtnContainer {
	position: relative;
	top: -10px;
	display: flex;
	flex-direction: column-reverse;
	/* position: absolute; */
	align-items: center;
	bottom: 0px;
	left: 0;
	right: 0;
	margin-top: 15px;
}

.backBtn {
	min-width: 100px;
	max-width: 140px;
	width: 20vw;
	height: 4vh;
	background-color: black;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	font-size: 1rem;
	margin: 10px 0 0;
}

@media (min-width: 700px) {
	.createDeckMenu {
		display: flex;
		flex-direction: row;
		height: 75vh;
		max-width: 750px;
	}

	.cardFormSection {
		border-right: 2px solid white;
		border-bottom: none;
		width: 60vw;
		height: 100%;
	}

	.cardFormSection div {
		margin: 5px 0;
	}

	.cardDisplaySection {
		align-items: center;
		width: 40vw;
	}

	.fileInput {
		top: 10px;
	}

	.createBtnContainer {
		top: 40px;
	}

	.spellTypeLabels label:nth-of-type(1) {
		right: -7px;
	}
}
