.signUpForm {
	position: relative;
	height: 400px;
	width: 300px;
	max-width: 80vw;
	border: solid white 2px;
	border-radius: 8px;

	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(29, 29, 29);
}

.formTitle {
	color: white;
	font-size: 4rem;
	letter-spacing: 4px;
	font-family: "My Soul";
	position: relative;
	bottom: 10vh;
}

.formControl {
	position: relative;
}

.signUpForm label {
	color: white;
	position: absolute;
	left: 0;
	transition: 0.2s ease-in;
}

.signUpForm input {
	height: 25px;
	font-size: 1.1rem;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: 1px solid white;
	color: white;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
}

.signUpForm input:focus {
	outline: none;
	border-bottom-color: goldenrod;
}

.signUpForm input:focus + label {
	color: goldenrod;
	transform: translateY(-120%);
	font-size: 0.8rem;
}

.formBtn {
	color: white;
	width: 160px;
	height: 30px;
	border-color: goldenrod;
	background: linear-gradient(45deg, rgb(29, 29, 29) 35%, transparent, goldenrod, transparent, rgb(29, 29, 29) 70%);
	background-size: 300% 100%;
	background-position: left bottom;
}

.formBtn:hover,
.formBtn:focus {
	background-position: right bottom;
	transition: all 0.4s linear;
	box-shadow: 0 0 15px 3px goldenrod;
}
