.hand1,
.hand2 {
	width: fit-content;
	max-width: 960px;
	height: 7.5rem;
	max-height: 115px;
	/* border: 1px solid pink; */
	position: absolute;
	margin: auto;
	display: flex;
	overflow: auto;
	/* overflow-x: hidden; */
	overflow-y: hidden;
	align-items: center;
}

.hand1 {
	bottom: -7vh;
	left: 0;
	right: 0;
	margin: auto;
}

.hand2 {
	top: 6vh;
	left: 0;
	right: 0;
	margin: auto;
}

.hand1 div,
.hand2 div {
	margin: 0 2px 0 2px;
}

.selectedCardSection {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: green;
	left: 0;
}

.cardDisplay {
	width: 300px;
	height: 300px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 60%;
	text-align: center;
}
@media (min-width: 475px) {
	.hand1,
	.hand2 {
		height: 8rem;
	}
}

@media (min-width: 525px) {
	.hand1,
	.hand2 {
		/* height: 20vh; */
		justify-content: center;
		max-height: 130px;
	}
}

@media (min-width: 800px) {
	.hand1,
	.hand2 {
		overflow: hidden;
		height: fit-content;
		width: fit-content;
		/* width: 35rem; */
		/* max-width: 40rem; */
	}

	/* .hand1 div:hover,
	.hand2 div:hover {
		transform: translateY(-10px);
	} */
}

@media (min-width: 1100px) {
	.hand1,
	.hand2 {
		height: fit-content;
		max-height: 150px;
	}

	.cardDisplay {
		top: 50%;
	}
}
