.createDeckContainer {
	height: 100px;
	width: 200px;
	border: 2px solid white;
	display: flex;
	align-items: center;
	text-align: center;
}

.createDeckContainer form label {
	color: white;
	position: relative;
	bottom: 10px;
}
