.decksDisplay {
	border: 2px solid white;
	height: 60vh;
	width: 70vw;
	position: relative;
	bottom: 50px;
}

.decksHeader {
	color: white;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	text-align: center;
}

.newDeckBtn {
	/* margin: 10px 0; */
}

.deck {
	position: relative;
	width: 100px;
	height: 150px;
	background-color: brown;
}

.deck button {
	position: absolute;
	bottom: -30px;
}

.deck button:nth-of-type(2) {
	bottom: -60px;
}
