.decksContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 95vw;
	max-width: 700px;
	height: 50vh;
	border: 2px solid white;
	display: flex;
	justify-content: space-around;
}

.deckHeader {
	position: absolute;
	color: white;
	right: 0;
	left: 0;
	margin: auto;
	top: -15vh;
	text-align: center;
}

.deckContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0 0;
}

.deck {
	height: 110px;
	width: 70px;
	border: white solid 2px;
	margin-bottom: 10px;
	background-color: burlywood;
}

.startButton {
	position: absolute;
	bottom: 5vh;
	width: 20vw;
	min-width: 150px;
	max-width: 200px;
	padding: 10px 0;
	background-color: rgba(0, 0, 0);
	color: white;
	font-size: 1rem;
	border-radius: 5px;
}

.startButton:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.startButton:active {
	transform: scale(0.95);
}

.backButton {
	min-width: 150px;
	max-width: 200px;
	width: 20vw;
	height: 5vh;
	background-color: black;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	font-size: 1.2rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10vh;
	margin: 0 auto;
}

p {
	color: white;
}

.clicked {
	border-color: red;
}
