.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal,
.trapPrompt {
	display: flex;
	border: 2px solid white;
	position: fixed;
	left: 0;
	right: 0;
	padding: 1rem;
	border-radius: 14px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 30;
	animation: slide-down 300ms ease-out forwards;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 17%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.7) 95%);
}

.modal {
	top: 5vh;
	margin: 0 auto;
	width: 80vw;
	max-width: 400px;
	height: 95vh;
}

.trapPrompt {
	margin: auto;
	width: 50vw;
	height: 20vh;
	flex-direction: column;
	top: 0;
	bottom: 0;
	color: white;
	justify-content: center;
	/* align-items: center; */
	text-align: center;
}

.trapPrompt button {
	width: 45%;
	height: 100%;
	background: none;
	border-radius: 5px;
	margin: 8px;
	color: white;
	border-color: white;
	cursor: pointer;
}

.trapPrompt button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.trapPrompt:active {
	transform: scale(0.95);
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (min-width: 470px) {
	.modal {
		top: 5vh;

		width: 80vw;
		max-width: 400px;
		height: 90vh;
		padding: 1rem;
		border-radius: 14px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
		z-index: 30;
		animation: slide-down 300ms ease-out forwards;
	}
}

@media (min-width: 760px) {
	.modal {
		width: 50vw;
		height: 85vh;
	}
}
