.turnCount {
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 2;
	display: none;
}

@media (min-width: 720px) {
	.turnCount {
		display: block;
	}
}
